<!DOCTYPE html>
<html>
  <head><link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <meta charset="utf-8">
    <title>Page Not Found</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/error.css">
  </head>
    <body>
      <div class="message">Unfortunately, something has gone wrong.
      </div>
      <div class="message2">We're unable to fulfill your request. Please refresh your browser, if the error continues, please contact our: <br><a style="color: rgb(27, 255, 205);" href="mailto:analysight@hotmail.com">support team</a>.</div>
      <div class="container">
        <div class="neon">500</div>
        <div class="door-frame">
          <div class="door">
            <div class="rectangle">
          </div>
            <div class="handle">
              </div>
            <div class="window">
              <div class="eye">
              </div>
              <div class="eye eye2">
              </div>
              <div class="leaf">
              </div> 
            </div>
          </div>  
        </div>
      </div>
    </body>

    <body>
	
    

          
    
    
    
    
    
    </body>


	
</html>